.label::-webkit-scrollbar {
  display: none;
}

.label {
  -ms-overflow-style: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
  background: transparent;
}
