.upload-label:hover{
  background: #1ddd96;
  color: #ffffff;
  transition: 0.3s;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 0.3em 1em;
  border-radius: 3px;
  margin: auto;
}

.upload-label{
  background: #2bba85;
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Regular";
  cursor: pointer;
  padding: 0.3em 1em;
  border-radius: 3px;
  margin: auto;
}