// *{
//     margin: 0;
//     padding: 0;
// }

// html{
//     scroll-behavior: smooth;
// }

.allDetectedFaces {
  margin-top: 6.1em;
  display: inline-flex;
  overflow-y: auto;
}

#videoContainer {
  min-width: 400px;
  min-height: 300px;
  width: 90%;
  height: 90%;
  margin: auto;
  display: block;
  align-content: center;
}

#videoPlayer {
  margin-top: 10em;
  background: #ffffff;
}

.allTimeCards {
  height: 310px;
  overflow-x: scroll;
  overflow-y: hidden;
}

// #timeCard {
//   display: inline-block;
//   background: rgb(12, 22, 43);
//   background: linear-gradient(
//     30deg,
//     rgba(12, 22, 43, 1) 0%,
//     rgba(0, 78, 124, 1) 100%
//   );
//   margin: 1em;
//   width: 300px;
//   height: 6em;
//   color: #ffffff;
//   border-radius: 4px;
//   box-shadow: 0px 1px 10px #ccc;
//   transition: 0.3s;
//   :hover {
//     scale: 1.1;
//     box-shadow: 3px 2px 20px #333;
//     background: rgb(12, 22, 43);
//     background: linear-gradient(
//       90deg,
//       rgba(12, 22, 43, 1) 0%,
//       rgba(0, 44, 70, 1) 100%
//     );
//   }
// }

.timeCardContent {
  width: auto;
  white-space: nowrap;
}
