.divider {
  position: relative;
  left: 0px;
  top: 50%;
  width: 50px;
  height: 1px;
  background: white;
  transition: 0.4s ease-in-out;
}

// .person-card{
//     // display: inline-block;
// }

.person-card:hover .divider {
  width: 100px;
}

.person-card:hover {
  font-weight: 700;
}

.detection-count{
    clear: left;
    position: relative;
    top: 5px;
    left: 0px;
    float: left;
}

.detection{
    font-weight: 200;
    font-size: 0.7em;
}
